<h1>ViewChild Demo</h1>

<button (click)="changeChildText()">Change ViewChild Text</button>

<app-view-child></app-view-child>

<button mat-flat-button>Basic Button</button>

<img width="50%" height="50%" #myImg *ngIf="isShow" src="https://placehold.co/100">

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>


<div class="example-label">Flat</div>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
</div>